body {
  display: flex;
  justify-content: center;
  background-color: #f4f6f7;
}

.container {
  width: 1440px;
  margin-top: 100px;
  font-family: Avenir Next;
  position: relative;
}

.header {
  margin-bottom: 150px;
  background: #f4f6f7;
}

.navigate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 100px;
  align-items: center;
}

.select {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

a {
  text-decoration: none;
  color: #13253a;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 12px;
}

.logo img {
  height: 36;
  width: 130px;
}

.introduction {
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
}
.under-title {
  color: #2557ab;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: -20px;
}

h1 {
  color: #13253a;
  font-size: 46px;
  font-weight: 700;
  letter-spacing: -1px;
}

.descr-text {
  color: #13253a;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  opacity: 0.9;
  width: 470px;
}

.btn-consultation {
  width: 336px;
  height: 60px;
  border-radius: 3px;
  border: none;
  background: #ff7f57;
  color: #fff;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
}

.btn-consultation:hover {
  transform: scale(1.1);
}
.ilustration {
  width: 570px;
  height: 414px;
  margin-bottom: 100px;
}

.services {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicesBlock {
  width: 1170px;
  margin-bottom: 120px;
  padding-bottom: 50px;
}
.textOurService {
  color: #2557ab;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0;
  margin-top: 200px;
}

.servicesTitle {
  color: #13253a;
  text-align: center;
  font-size: 38px;
  font-weight: 400;
  letter-spacing: -0.5px;
  margin-top: 0;
}

.servicesElem {
  display: flex;
  justify-content: space-around;
}
.servicesElem1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.serviceIcon {
  width: 64px;
  height: 64px;
}

.serviceIconTitle {
  color: #3b4d6c;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 3px;
}

.serviceIconText {
  color: #13253a;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  margin-top: 0;
  width: 320px;
}

.kpi {
  display: flex;
  justify-content: space-evenly;
  margin: 0 100px;
  padding-bottom: 20px;
}

.kpiContent {
  color: #13253a;
  font-size: 46px;
  font-weight: 400;
  margin-bottom: 0;
}

.kpiContentSpan {
  color: #ff7f57;
}

.kpiDescript {
  color: #2557ab;
  font-size: 16px;
  font-weight: 500;
  margin-top: 5px;
}

.aboutUs {
  background-color: #fff;
  padding-top: 100px;
}

.robustAgency {
  color: #2557ab;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0;
}

.aboutUsTitle {
  color: #13253a;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  margin-top: 2px;
}

.aboutUsText {
  display: flex;
  justify-content: space-evenly;
}

.aboutUsTextLeft {
  width: 370px;
  margin-left: 80px;
}

.aboutUsTextLeftTop {
  color: #13253a;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 30px;
  opacity: 0.9;
}

.aboutUsTextLeftBottom {
  color: #13253a;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  opacity: 0.9;
}

.aboutUsTextRight {
  width: 500px;
  margin-right: 100px;
}

.aboutUsTextRight {
  color: #13253a;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  opacity: 0.9;
}

.aboutUsLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  margin: 70px auto;
}

.logo-hello-fresh {
  width: 66px;
  height: 66px;
}

.logo-trivago {
  width: 126px;
  height: 38px;
}

.logo-los-angelese-times {
  width: 271px;
  height: 34px;
}

.logo-oracle {
  width: 162px;
  height: 23px;
}

.logo-target {
  width: 52px;
  height: 66px;
}

.hr {
  background-color: #fff;
  height: 100px;
}

hr {
  width: 1170px;
  height: 1px;
  background: #dce2e6;
}

.afterLogo {
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.afterLogoTitle {
  color: #13253a;
  font-size: 38px;
  font-weight: 700;
  padding-top: 70px;
  width: 370px;
  margin-top: 0;
}

.afterLogoContent {
  color: #13253a;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  width: 430px;
}

.imgChecked {
  width: 16px;
  height: 16px;
}

.checkedText {
  color: #13253a;
  font-size: 15px;
  font-weight: 500;
  line-height: 27px; /* 180% */
  width: 439px;
  margin-left: 10px;
}
.afterLogoImg {
  margin-left: 50px;
}

.afterLogoImg1 {
  width: 600px;
  height: 280px;
  padding-top: 70px;
}

.rectagleImg {
  width: 600px;
  height: 170px;
  background: linear-gradient(180deg, #f9f9fd 7.36%, #f4f6f7 100%);
}

.rectagle {
  background: #ff7f57;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rectagleInfo {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding-top: 100px;
}

.rectagleTitle {
  color: #f4f6f7;
  font-size: 46px;
  font-weight: 700;
  letter-spacing: -1px;
  margin: 5px 0 5px 0;
}

.rectagleText {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  width: 700px;
  text-align: center;
}

.get-started-now {
  width: 336px;
  height: 60px;
  background-color: #2557ab;
  margin-bottom: 100px;
  color: #fff;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  margin-top: 20px;
}
